<a href="https://colab.research.google.com/github/Lokesh-ctr/ADM_Lab/blob/main/ADM_Assigment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('employee_data.csv')

In [4]:
print(df.head())

   Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0         1001  50.0  108953.0               9.0                   36
1         1002  36.0   82995.0               8.0                   59
2         1003  29.0   70757.0               2.0                   30
3         1004  42.0   39692.0               1.0                   30
4         1005  40.0   75758.0               7.0                   54

In [5]:
# For missing 'Age' and 'Salary', we use mean imputation
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

<ipython-input-5-15ad584c815d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-5-15ad584c815d>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [6]:
df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].median(), inplace=True)

<ipython-input-6-a73b1b96d053>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].median(), inplace=True)

In [7]:
df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mode()[0], inplace=True)

<ipython-input-7-3eadede05fad>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mode()[0], inplace=True)

In [8]:
print(df.isnull().sum())

Employee_ID            0
Age                    0
Salary                 0
Job_Satisfaction       0
Work_Hours_Per_Week    0
dtype: int64

In [9]:
scaler = MinMaxScaler()

In [10]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [11]:
df['Age_manual'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Salary_manual'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

In [12]:
print(df[['Age', 'Salary', 'Age_manual', 'Salary_manual']].head())

        Age    Salary  Age_manual  Salary_manual
0  0.750000  0.877708    0.750000       0.877708
1  0.361111  0.585375    0.361111       0.585375
2  0.166667  0.447554    0.166667       0.447554
3  0.527778  0.097707    0.527778       0.097707
4  0.472222  0.503874    0.472222       0.503874

In [13]:
scaler_standard = StandardScaler()

In [14]:
df[['Job_Satisfaction', 'Work_Hours_Per_Week']] = scaler_standard.fit_transform(df[['Job_Satisfaction', 'Work_Hours_Per_Week']])

In [15]:
print(df[['Job_Satisfaction', 'Work_Hours_Per_Week']].head())

   Job_Satisfaction  Work_Hours_Per_Week
0          1.391522            -0.905969
1          0.977379             1.483629
2         -1.507482            -1.529343
3         -1.921626            -1.529343
4          0.563235             0.964151